body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      display: flex;
      position: relative;
    }

    .left-half {
      width: 50%;
      height: 100vh;
      background-color: #f1f1f1;
      position: fixed;
      overflow-y: auto;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .right-half {
      width: 50%;
      height: 100vh;
      background-color: #333333; /* Darker background color */
      margin-left: 50%;
      padding: 20px;
      position: relative; /* Add relative positioning */
      z-index: 1; /* Set a higher z-index to bring it above the left side */
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
    }

    .scroll-button {
      margin-bottom: 10px;
    }

    .section {
      margin-bottom: 30px;
    }

    .section h2 {
      margin-top: 0;
    }

    .contact-info {
      margin-bottom: 20px;
    }

    .resume-button {
      display: block;
      margin-top: 20px;
    }

    /* Media Query for mobile devices */
@media (max-width: 768px) {
  .container {
    display: block; /* Change to block layout */
  }

  .left-half,
  .right-half {
    width: 100%; /* Take full width on mobile */
    margin-left: 0;
    height: auto; /* Adjust height automatically */
    position: static; /* Remove fixed and relative positioning */
    box-shadow: none; /* Remove the box shadow */
  }
}